{% load tagging_tags %}

<div class="gradient">
  <a name="{{ entry.slug }}"></a>

  <h1>{{ entry.title }} (<a href="{{ entry.get_absolute_url }}">&bull;</a>)</h1>
  <h3>Published on {{ entry.pub_date|date:"l, j F Y P" }} ({{ entry.pub_date|timesince }} ago)</h3>
  <h2>{{ entry.snip }}</h2>
  
  {{ entry.body_html|safe }} 

  <p>
  <a href="{{ entry.get_absolute_url }}#comments">{{ entry.get_num_comments }}</a> comments. 
  <a href="{{ entry.get_absolute_url }}#links">{{ entry.links.count }}</a> related links.
  <br/>

  {% tags_for_object entry as tags %}
    Tags: 
    {% for t in tags %}
    <a href="{% url blog-list-tag t%}">{{ t }}</a> 
    {% endfor %}

  </p>
</div> <!-- gradient -->
