--skip-bodies-non-prj
-D __puma
-D __STDC__
-D _GNU_SOURCE
-D __CHAR_BIT__=8
-D __DBL_DENORM_MIN__=4.9406564584124654e-324
-D __DBL_DIG__=15
-D __DBL_EPSILON__=2.2204460492503131e-16
-D __DBL_HAS_INFINITY__
-D __DBL_HAS_QUIET_NAN__
-D __DBL_MANT_DIG__=53
-D __DBL_MAX_10_EXP__=308
-D __DBL_MAX_EXP__=1024
-D __DBL_MAX__=1.7976931348623157e+308
-D __DBL_MIN_10_EXP__=(-307)
-D __DBL_MIN_EXP__=(-1021)
-D __DBL_MIN__=2.2250738585072014e-308
-D __DECIMAL_DIG__=21
-D __DEPRECATED
-D __ELF__
-D __EXCEPTIONS
-D __FINITE_MATH_ONLY__=0
-D __FLT_DENORM_MIN__=1.40129846e-45F
-D __FLT_DIG__=6
-D __FLT_EPSILON__=1.19209290e-7F
-D __FLT_EVAL_METHOD__=2
-D __FLT_HAS_INFINITY__
-D __FLT_HAS_QUIET_NAN__
-D __FLT_MANT_DIG__=24
-D __FLT_MAX_10_EXP__=38
-D __FLT_MAX_EXP__=128
-D __FLT_MAX__=3.40282347e+38F
-D __FLT_MIN_10_EXP__=(-37)
-D __FLT_MIN_EXP__=(-125)
-D __FLT_MIN__=1.17549435e-38F
-D __FLT_RADIX__=2
-D __GNUC_MINOR__
-D __GNUC_PATCHLEVEL__=2
-D __GNUC__=4
--gnu
-D __GNUG__=4
-D __GXX_ABI_VERSION=1002
-D __GXX_WEAK__
-D __INTMAX_MAX__=9223372036854775807LL
-D __INTMAX_TYPE__=long long int
-D __INT_MAX__=2147483647
-D __LDBL_DENORM_MIN__=3.64519953188247460253e-4951L
-D __LDBL_DIG__=18
-D __LDBL_EPSILON__=1.08420217248550443401e-19L
-D __LDBL_HAS_INFINITY__
-D __LDBL_HAS_QUIET_NAN__
-D __LDBL_MANT_DIG__=64
-D __LDBL_MAX_10_EXP__=4932
-D __LDBL_MAX_EXP__=16384
-D __LDBL_MAX__=1.18973149535723176502e+4932L
-D __LDBL_MIN_10_EXP__=(-4931)
-D __LDBL_MIN_EXP__=(-16381)
-D __LDBL_MIN__=3.36210314311209350626e-4932L
-D __LONG_LONG_MAX__=9223372036854775807LL
-D __LONG_MAX__=2147483647L
-D __NO_INLINE__
-D __PTRDIFF_TYPE__=int
--ptrdiff-type "int"
-D __REGISTER_PREFIX__
-D __SCHAR_MAX__=127
-D __SHRT_MAX__=32767
-D __SIZE_TYPE__=unsigned int
--size-type "unsigned int"
-D __STDC_HOSTED__
-D __STDC__
-D __UINTMAX_TYPE__=long long unsigned int
-D __USER_LABEL_PREFIX__
-D __VERSION__="4.1.2 (Ubuntu 4.1.2-0ubuntu4)"
-D __WCHAR_MAX__=2147483647
-D __WCHAR_TYPE__=int
-D __WINT_TYPE__=unsigned int
-D __cplusplus
-D __gnu_linux__
-D __i386
-D __i386__
-D __i486
-D __i486__
-D __linux
-D __linux__
-D __unix
-D __unix__
-D i386
-D linux
-D unix
-I /usr/include
-I /usr/lib/gcc/i486-linux-gnu/4.1.2/include
-I /usr/local/include
-I /usr/lib/gcc/i486-linux-gnu/4.1.2/../../../../include/c++/4.1.2/backward
-I /usr/lib/gcc/i486-linux-gnu/4.1.2/../../../../include/c++/4.1.2/i486-linux-gnu
-I /usr/lib/gcc/i486-linux-gnu/4.1.2/../../../../include/c++/4.1.2
-I .
