{% extends 'base.html' %}

{% block pagetitle %}{{object.title}}{% endblock %}
{% block title %}{{object.title}}{% endblock %}
{% block primary %}
	<ul class="page-nav">
		{% if object.get_previous_published%}
		<li>
			<a href="{{ object.get_previous_published.get_absolute_url }}" title=" {{object.get_previous_published.title}}">« previous</a>
		</li>
		{%endif%}
		{% if object.get_next_published%}
			<li>
            <a href="{{ object.get_next_published.get_absolute_url }}" title=" {{object.get_next_published.title}}">next »</a>
			</li>
		{%endif%}
    </ul>
	<h2>{{ object.title }}</h2>
	<p>{{ object.pub_date }}</p>
	 {{ object.body_html|safe }}
	<p>tags: {% for tag in object.get_tags%}<a href="/blog/tags/{{tag.name|slugify}}/">{{tag}} </a>{% endfor %}</p>
	<p><a href="{{object.get_absolute_url}}">read more</a></p>
{% endblock %}

